<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="page">
    <link rel="stylesheet" type="text/css" href="{% static 'TradingSupport/unfiltercompaniesStyles.css' %}">
    <title >{% block title %}Trading Support App{% endblock %}</title>
</head>

<div class="TopOfWindow">{% block podtytulstrony %}Trading Support App Unfilter{% endblock %}</div>
<body>
    {% if user.is_authenticated %}
        <div class="MainTable">{% block content %}
            <div class="forma">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input class="SUBMIT" type="submit" value="Submit">
                </form>
            </div>{% endblock %}
        </div>
        <div class="LogOutButton btn">
            {% block LogInButton %}
                <a  href="{% url 'logout' %}">Logout</a>
            {% endblock %}
        </div>
        <div class="FilterButton btn">
            {% block FilterButton %}
                <a  href="{% url 'filtercompanies' %}">Filter</a>
            {% endblock %}
        </div>
        <div class="UnFilterButton btn">
            {% block UnFilterButton %}
                <a  href="{% url 'unfiltercompanies' %}">Unfilter</a>
            {% endblock %}
        </div>
        <div class="MainButton btn">
            {% block MainButton %}
                <a  href="{% url 'mainpage' %}">Main</a>
            {% endblock %}
        </div>
        <div class="LoggedAs">
            {% block LoggedAs %}
                <a>Logged as {{ user.username }}</a>
            {% endblock %}
        </div>
    {% else %}
        <p>You are not logged in</p>
        <div class="LogInButton">
            {% block LogOutButton %}
                <a href="{% url 'login' %}">Login</a>
            {% endblock %}
        </div>
    {% endif %}
</body>
</html>