{% extends "TradingSupportApp/base.html" %}

{% block title %}Interface{% endblock %}
{% block cofnij%}Wyloguj{%endblock%}
{% block podtytulstrony %}Trading Support App Unfilter{% endblock %}

<style>
.MainTable{

}
.forma{
    margin-top:76px;
    background-color: #333;
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
	border: 1px solid #54585d;
    text-align:center;
    width:25%;
    margin-left:auto;
    margin-right:auto;
}
</style>
{% block content %}
<div class="forma">
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}