<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Home page">
    <link rel="stylesheet" type="text/css" href="{% static 'TradingSupportApp/style.css' %}">
    <title>Trading Support App Login</title>
</head>
<div>
    <h1>Trading Support App<div>{% block podtytulstrony %}Login Screen{% endblock %}</div></h1>
    <div>
        <form method="POST">
            {% csrf_token %}
    <div class="form-group">
        {{ form.username }}
    </div>
    <div class="form-group">
        {{ form.password }}
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
        </form>

    </div>
    <a href="{% url 'registrationpage' %}">Zarejestruj się</a>
</div>
</html>