<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Home page">
    <link rel="stylesheet" type="text/css" href="{% static 'TradingSupportApp/style.css' %}">
    <title>BudzetApp Zaloguj Buki</title>
</head>

<div>
    <h1>Budżet domowy <div>{% block podtytulstrony %}ekran logowania{% endblock %}</div></h1>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button id="blocktext" type="submit">Log In</button>
        </form>

    </div>
    <a href="{% url 'registrationpage' %}">Zarejestruj się</a>
</div>
</html>